# ========================================
# 🧱 ARCHIVOS DE ENTORNO Y CONFIGURACIÓN
# ========================================
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json

# ========================================
# ⚙️ EDITORES Y ENTORNOS DE DESARROLLO
# ========================================
.idea/
.vscode/
.fleet/
.zed/
.phpactor.json
.phpunit.result.cache
/.phpunit.cache

# ========================================
# 📦 DEPENDENCIAS Y COMPILADOS
# ========================================
/vendor/
/node_modules/
/public/build
/public/hot
/public/storage

# ========================================
# 🧾 LOGS Y ARCHIVOS TEMPORALES
# ========================================
*.log
Thumbs.db
.DS_Store

# ========================================
# 🔐 CLAVES Y ARCHIVOS DE SEGURIDAD
# ========================================
/storage/*.key
/storage/pail

# ========================================
# 📘 L5-SWAGGER / OPENAPI
# ========================================
/storage/api-docs/
/public/docs
/public/vendor/l5-swagger
